<!doctype>
<html>
    <head>
        <title>{{{name}}} - {{{version}}}</title>
    </head>
    <body>
        By {{{author}}}
        <section id="content">
             {{{content}}}  
        </section>
    </body>
</html>